<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit Project | DevPilot</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<nav>

    <div class="logo">
        🚀 DevPilot
    </div>

    <ul>

        <li><a href="/projects">Projects</a></li>

        <li><a href="/logout">Logout</a></li>

    </ul>

</nav>

<section class="hero">

    <h1>Edit Project ✏️</h1>

    <form method="POST">

        <input
            type="text"
            name="title"
            value="{{ project.title }}"
            required
        >

        <br><br>

        <textarea
            name="description"
            rows="5"
            cols="50"
            required>{{ project.description }}</textarea>

        <br><br>

        <button class="primary" type="submit">
            Update Project
        </button>

    </form>

</section>

</body>

</html>